.opening-hours{
    background: linear-gradient(90deg, #19D3AE -38.67%, #0FCFEC 129.78%);
    border-radius: 10px;
}
.contact{
    background: linear-gradient(90deg, #19D3AE -38.67%, #0FCFEC 129.78%);
border-radius: 14px;
}